@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="map" style="height: 500px; width:300px"></div>
        </div>
        <div class="col-md-14">

        </div>
    </div>
</div>

@section scripts {

<script>
    var map;
    function initMap() {
        var myLatlng = { lat: 45.5035, lng: -73.5685 };

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatlng, 
            zoom: 10
        });

        // Create the initial InfoWindow.
        var infoWindow = new google.maps.InfoWindow(
            { content: 'Click the map to get Lat/Lng!', position: myLatlng });
        infoWindow.open(map);

        // Configure the click listener.
        map.addListener('click', function (mapsMouseEvent) {
            // Close the current InfoWindow.
            infoWindow.close();

            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({ position: mapsMouseEvent.latLng });
            infoWindow.setContent(mapsMouseEvent.latLng.toString());
            infoWindow.open(map);
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI2xNbBXmcEktUJlHLUUoxIaLeBa3hfZc&callback=initMap" async defer></script>
}